<%- include('./partials/head') %> 
<div class="container sm-6">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Modelo</th>
            <th scope="col">Faccion</th>
            <th scope="col">Imagen</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
          </tr>
        </thead>
        <% products.forEach(product =>{ %>
            <tbody>
                <tr>
                  <th scope="row"><%=product.id%></th>
                  <td><%=product.name %></td>
                  <td><%=product.model %></td>
                  <td><%=product.faction %></td>
                  <td><img src="<%=product.url%>" style="width: 100px;height: 100px;"></td>
                  <td><%=product.description %></td>
                  <td><%=product.price %></td>
                  <td><%=product.stock %></td>
                  <td><button onclick = "agregar('<%=product.id%>')">Agregar</td>
                </tr>
            </tbody>
        <% }) %> 
    </table>
        <form action = "/cart" method = "get">
            <button type="submit" class="btn btn-dark">Ir a Mi carrito</button>
        <form>
    </div>
    <script>
        function agregar(product){
            fetch(`http://localhost:8090/cart/${product}`,{
                method: 'POST',
                body: JSON.stringify(product),
            })
        }
    </script>
    </body>
    </html>