<div>
    <a href="/">Home</a>
    <b><h2>Username: <%=user.username%></h2></b></br>
    <h2>Name: <%=user.name%></h2></br>
    <h2>Email: <%=user.mail%></h2></br>
    <h2>Age: <%=user.age%></h2></br>
    <h2>Role: <%=user.role%></h2></br>
    <a href="/signout">Log Out</a>
</div>